{% extends "base.html" %}

{% block main %}
<style>
    body{
        background:  #6E2375 ;
    }
</style>

<h1 class="page-header text-white">Order Management</h1>
<p class="text-white">Please Select an Order to update</p>

<table class="table table-striped table-hover table-borderless text-white">
    <thead>
        <th scope="col"></th>
        <th scope="col">Order ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
    </thead>
    <tbody>
        {%for order in orders%}

        <tr class="clickable-row" data-href="{{url_for('admin.order_details',orderID = order.id)}}" method = 'GET'>
            <td>
                <img                         
                {#Check if there is and image associated with that product#}
                {%if productsImage[order.id]%}
                src="{{url_for('admin.get_image',imageName = productsImage[order.id])}}" 
                {%else%}
                src="#"
                {%endif%}
                alt="'{{productsImage[order.id]}}'"
                width="50em"
                height="50em"
                >
            </td>
            <th scope="row">{{order.id}}</th>
            <td>{{itemNames[order.id]}}</td>
            <td>{{locale.currency(itemPrices[order.id],grouping =
                True)}}</td>
            <td>{{order.quantity}}</td>
            <td>{{locale.currency(order.total,grouping =
                True)}}</td>
            {% set status = order.get_status() %}
            <td>{{status}}</td>

        </tr>

        {%endfor%}
    </tbody>





</table>

{% endblock%}