{% extends "base.html" %}

{% block main %}

<style>
    body {
        background: #6E2375;
    }
</style>



<div class="container text-white">
    <h1 class="page-header">Order ID: {{order['id']}}</h1>

    <div class="">
        <h4>Customer Name: {{order['custName']}}</h4>
    </div>

    <div class="">

        <h4>Customer Email: {{order['custContact']}}</h4>
    </div>

    <div class="">
        <h4>Item Ordered: {{order['itemTitle']}}</h4>
    </div>

    <div class="">
        <h4>Quantity:{{order['quantity']}} </h4>
    </div>

    <div class="">
        <h4>Order Total: {{locale.currency(order['total'],grouping =True)}} </h4>
    </div>

    <!-- miniature form to manage the order update progress -->

    <form action="" method="POST" class="pb-5" enctype="multipart/form-data">
        {{form.csrf_token}}
        <div class="col-sm-4">
            <h4>Order Status: {{form.status_options(class_='form-control')}}</h4>
        </div>

        <button type="submit info" class="btn btn-primary">Update Order</button>

    </form>
    <hr>

    <div class="menu pb-5">
        <div class="pe-5">
            <a href="{{url_for('admin.generate_invoice',orderID = order['id'])}}" class="btn btn-success ">Create
                Invoice</a>

        </div>

        <div class="pe-5">
            <a href="{{url_for('admin.upload_invoice',orderID =  order['id'])}}" class="btn btn-primary"> Upload
                Invoice</a>
        </div>

        <div class="pe-5">
            <a href="{{url_for('admin.view_invoice',invoiceName = order['invoiceName'])}}"
                class="btn btn-primary {{order['invoice']}}"> View Invoice</a>

        </div>
    </div>
</div>





{%endblock%}