{% extends "base.html" %}

{% block main %}
    <div class="heading"><h3>Your Orders</h3></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Img</th>
                <th scope="col">Order ID</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col" >Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Invoice</th>
                
            </tr>    
        </thead>

        {%for order in orders%}
        <tbody>

            <tr>
                <th scope="row">Item image</th>
                <td>{{order.id}}</td>
                <td>{{orderInfo['names'][order.id]}}</td>
                <td>{{locale.currency(orderInfo['prices'][order.id],grouping =
                    True)}}</td>
                <td>{{order.quantity}}</td>
                <td>{{locale.currency(order.total,grouping =
                    True)}}</td>
                {% set status = order.get_status() %}
                <td>{{status}}</td>
                <td>
                    <a href="{{url_for('customer.view_invoice',invoiceName = orderInfo['invoice_names'][order.id])}}" class="btn {{orderInfo['invoices'][order.id]}} btn-info"> View Invoice </a>
                </td>
            </tr>
        </tbody>
        {%endfor%}
    </table>


{%endblock%}