{% extends "base.html" %}

{% block main %}
    <div class="heading"><h3>Your Orders</h3></div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Img</th>
                <th scope="col">Order ID</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col" >Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Invoice</th>
                
            </tr>    
        </thead>

        {%for order in orders%}
        <tbody>

            <tr>
                <th scope="row">Item image</th>
                <td>{{order.id}}</td>
                <td>{{itemNames[order.id]}}</td>
                <td>{{locale.currency(itemPrices[order.id],grouping =
                    True)}}</td>
                <td>{{order.quantity}}</td>
                <td>{{locale.currency(order.total,grouping =
                    True)}}</td>
                {% set status = order.get_status() %}
                <td>{{status}}</td>
                <td>
                    <button class="btn " disabled>View Invoice</button>
                </td>
            </tr>
        </tbody>
        {%endfor%}
    </table>

    <div class="d-flex">
        <a href="{{url_for('customer.place_order')}}">
            <button class="btn btn-success justify-content-end"> Place Order</button>
        </a>
    </div>
{%endblock%}