{% extends "base.html" %}

{% block main %}

<style>
    body{
        background:  #6E2375 ;
    }
</style>

    <div class="heading text-white">
        <h3>Your Orders</h3>
    </div>
    <table class="table table-striped table-hover table-borderless text-white">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Order ID</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col" >Quantity</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Invoice</th>
                
            </tr>    
        </thead>

        <tbody class="">
            {%for order in orders%}

            <tr>
                <th scope="row">
                    <img                         
                    {#Check if there is and image associated with that product#}
                    {%if orderInfo['productImage'][order.id] %}
                    src="{{url_for('admin.get_image',imageName = orderInfo['productImage'][order.id])}}" 
                    {%else%}
                    src="#"
                    {%endif%}
                    alt="'{{orderInfo['productImage'][order.id]}}'"
                    width="50em"
                    height="50em"
                    >
                </th>
                <td>{{order.id}}</td>
                <td>{{orderInfo['names'][order.id]}}</td>
                <td>{{locale.currency(orderInfo['prices'][order.id],grouping =
                    True)}}</td>
                <td>{{order.quantity}}</td>
                <td>{{locale.currency(order.total,grouping =
                    True)}}</td>
                {% set status = order.get_status() %}
                <td>{{status}}</td>
                <td>
                    <a href="{{url_for('customer.view_invoice',invoiceName = orderInfo['invoice_names'][order.id])}}" class="btn {{orderInfo['invoices'][order.id]}} btn-primary"> View Invoice </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>


{%endblock%}