{% extends "base.html" %}

{% block main %}
<style>
    body{
        background:  #6E2375 ;
    }
</style>

<div class="container col-md-8 text-white">
    <div class="wrapper">
        <div class="row">
            <div class="col d-flex align-items-center pe-5" id="image-column">
                <img class="d-inline-block" 

                {#Check if there is and image associated with that product#}
                {%if prod.image%}
                src="{{url_for('admin.get_image',imageName = prod.image)}}" 
                {%else%}
                src="#"
                {%endif%}
                alt="No Image found for: '{{prod.title}}'" 
                width="500em"
                height="500em" 
                id="full-property-image"
                >   

            </div>
            <div class="col">
                <div class="container p-2">
                    <form action="" method="POST" class="pb-3">
                        {{form.csrf_token}}
                    
                        <div class="fom-group   pb-3">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">
                                {{form.title.label}} <span class="text-danger">(Required)</span>
                            </label>
                            <div class="col-sm-10">
                                {{form.title(class_='form-control', value = prod.title)}}
                    
                            </div>
                        </div>
                    
                        <div class="fom-group pb-3">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">
                                {{form.Description.label}} <span class="text-danger">(Required)</span>
                            </label>
                            <div class="col-sm-10">
                                {% set f = form.Description.process_data(prod.Description) %}
                                {{form.Description(class_='form-control')}}
                    
                            </div>
                        </div>
                    
                        <div class="fom-group   pb-3">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">
                                {{form.type_options.label}} <span class="text-danger">(Required)</span>
                            </label>
                            <div class="col-sm-10">
                                {{form.type_options(class_='form-control')}}
                    
                            </div>
                        </div>
                    
                    
                    
                        <div class="fom-group   pb-3">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">
                                {{form.price.label}} <span class="text-danger">(Required)</span>
                            </label>
                            <div class="col-sm-10">
                                {{form.price(class_='form-control',value = prod.price)}}
                    
                            </div>
                        </div>
                    
                    
                    
                        <div class="fom-group   pb-3">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">
                                {{form.color_options.label}} <span class="text-danger">(Required)</span>
                            </label>
                            <div class="col-sm-10">
                                {{form.color_options(class_='form-control')}}
                    
                            </div>
                        </div>
                    
                    
                    
                        <button type="submit info" class="btn btn-info">Update</button>
                    </form>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deletion of Product</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete "{{prod.title}}" ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <!-- <button type="button" class="btn btn-danger">Delete</button> -->
          <a href="{{url_for('admin.confirm_deletion',invalid_product_id = prod.id)}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}