{% extends "base.html" %}

{% block main %}
<style>
    body{
        background:  #6E2375 ;
    }
</style>
<h1 class="page-header text-white">Product Management</h1>
<p class="lead text-white">Please select the edit option to manage a product</p>

<span>
    <a href="{{url_for('admin.add_product')}}" class="btn btn-primary btn-block">Add Product</a>
</span>

<table class="table table-hover table-borderless">
    <thead class="text-white">
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
        <th scope="col">Color</th>
        <th scope="col"></th>
    </thead>
    <tbody class="text-white">
        {%for prod in products%}
        <tr>
            <th scope="row">{{prod.id}}</th>
            <td>{{prod.title}}</td>
            <td>{{prod.Description}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.type.value}}</td>
            <td>{{prod.color.value}}</td>
            <td><a href="{{url_for('admin.edit_product',old_product_id =prod.id)}}" class="btn btn-success">Edit</a></td>
        </tr>
        {%endfor%}
    </tbody>

    



</table>
{% endblock %}
