{% extends "base.html" %}

{% block main %}
<div class="heading"><h1>Products</h1>
</div>

<div class="container">
    <div class="row">

        {%for product in  productList%}
            <div class="col-3 pb-4">
                <div class="card">
                    <img 
                        {#Check if there is and image associated with that product#}
                        {%if product.image%}
                        src="{{url_for('admin.get_image',imageName = product.image)}}" 
                        {%else%}
                        src="#"
                        {%endif%}
                        alt="'{{product.title}}'"                     
                    >
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="pb-1">
                            <span class="text-muted">{{product.Description}}</span>
                        </p>
                        <p class="card-text pb-2"><span class="elongated-div"><span
                            class="price">{{locale.currency(product.price,grouping =
                            True)}}</span></span></p>

                        {%set type = product.get_type() %}    
                        <div class="pb-3">
                           <span>Type: {{type}} </span> 
                        </div>

                        {%set color = product.get_color() %}
                        <div class="pb-3">
                           <span>Color: {{color}}</span> 
                        </div>
                        <div class="add-to-cart">
                            <form action="POST" id="addToCartForm">
                                <input type="text" hidden value="{{product.id}}" id="prod_id" name="prod_id">
                                <button class="btn btn-primary submit">Add To Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>

</div>


{% endblock %}
